@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--hard-gray);
  font-family: "Kumbh Sans", sans-serif;  
  text-align: center;    
  padding-bottom: 100px;
}

main {
  display: flex;  
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0;      
}

.devicon-github-original{
  font-size: 60px;
  margin-bottom: 30px;
  color: var(--white);
}

.section{
  padding: 70px 0;
}

.container {
  width: 60%; /* se for uma tela menor que 980px vai se adaptar a 70% */
  max-width: 960px; /* quando chegar em 980px para de aumentar */
  box-shadow: var(--shadow) 0px 25px 50px -12px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid var(--gray);
}

.container header .input-search-field{
  position: relative;
}

.container header .input-search-field #empty-input-messagem-required{
  display: none;
}

.container header #btn-search {
  width: 200px;
  font-size: 17px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;  
  cursor: pointer;
  border: 1px solid var(--gray);
}

.container header #btn-search:hover {
  background-color: var(--pink);
  color: var(--white);
  border-color: var(--white);
}

.container header .input-search-field.wrong #input-search{
  border: 2px solid var(--wrong-red);
}

.container header .input-search-field.wrong #empty-input-messagem-required{
  display: block;
  position: absolute;
  color: var(--wrong-red);
  font-size: 10px;
  text-align: left;
  margin: 2px 0 0 4px;
}

.container .profile-data{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container .profile-data .info {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
}

.container .profile-data .info .data{
  padding: 40px;
  width: 50%;
}

.container .profile-data .info img{
  width: 50%;
  border-radius: 50%;
  border: 10px solid var(--pink);
}

.container .profile-data .info h1{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info p{
  font-size: 15px;  
  font-weight: 400;
  line-height: 23px;
}

.container .profile-data .info .following.followers{
  margin: 10px auto;
  text-align: center;
}

/* REPOSITORIES */

.container .profile-data .repositories h2{
  margin-bottom: 30px;
  text-align: center;
}

.container .profile-data .repositories ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .profile-data .repositories ul li a{
  font-weight: 700;
  padding: 20px;
  border: 1px solid var(--gray);  
  margin: 20px;
  display: block;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
}

.container .profile-data .repositories ul li a:hover{
  background-color:var(--pink);
  color: var(--white)
}

.container .profile-data.hide{
  display: none;
}

/*REPOSITORIE DETAILS*/

.repositorie-details{
  display: flex;
  gap: 3px;
  margin-top: 7px;
  justify-content: center;
} 

.repositorie-details p{
  background-color: var(--soft-purple);
  padding: 4px;
  border-radius: 5px;
  color: var(--white);
  transition: 0.3s ease-in-out;
}


/*EVENTS*/

.events-container{
  background-color: var(--soft-gray);
  width: 100%;
  padding: 30px;
}

.events-container h3{
  font-size: 1.6rem;
  color: var(--medium-gray);
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.repositorie-name{
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.commit-message{
  width: 30%;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}
